
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #00c6ff, #7b2ff7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-box {
  background: #fff;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  width: 320px;
}
.login-box h2 {
  text-align: center;
  margin-bottom: 1rem;
}
.login-box input {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}


.login-box a {
  display: block;
  margin-bottom: 1rem;
  font-size: 13px;
  color: #6c63ff;
  text-decoration: none;
}

.login-box a:hover {
  text-decoration: underline;
}

.login-box button {
  width: 100%;
  padding: 10px;
  border: none;
  background: linear-gradient(90deg, #00c6ff, #7b2ff7);
  color: white;
  font-size: 14px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
}

.login-box button:hover {
  opacity: 0.9;
}

.signup-text {
  margin-top: 1rem;
  text-align: center;
  font-size: 13px;
}

.signup-text a {
  color: #7b2ff7;
  text-decoration: none;
}

.signup-text a:hover {
  text-decoration: underline;
}
